.blackline{
    float: left;
    border-left: 3px solid black ;
    position: absolute;
    z-index: 3;
    height: 43%;
} 

.box1{
    height: 34%;
    float: left;
    position: absolute;
    border-color: #2DD35C;
    border-style: solid;
    border-top-right-radius:18% 90%;
    border-bottom-right-radius: 1% 5%;
    width: 61%;
    text-align: justify;
    padding-left: 12%;
    padding-top: 2%;
    z-index: 2;
    margin-top: 0.8%;
} 

.box2{
    background-color: #ABB2B9;
    /* background-color: #98AFC7; */
    height: 26%;
    float: right;
    position: absolute;
    width: 47%;
    margin-left: 52%;
    margin-top: 5%;
    border-top-left-radius:18% 90%;
    border-bottom-left-radius: 2% 7%;
}

#line1{
    color: #5553B7;
}

.button1{
    background-color: #2DD35C;
    color: white;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    border-top-left-radius: 20% 50%;
    border-top-right-radius: 20% 50%;
    border-bottom-left-radius: 20% 50%;
    border-bottom-right-radius: 20% 50%;
    border-style: hidden;
    height: 36px;
}

.button2{
    color: #5553B7;
    background-color: white;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    border-top-left-radius: 20% 50%;
    border-top-right-radius: 20% 50%;
    border-bottom-left-radius: 20% 50%;
    border-bottom-right-radius: 20% 50%;
    border-color: #5553B7;
    height: 36px;
}

